<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>255</string>
		<string>174</string>
		<string>0</string>
	</array>
	<array>
		<string>0</string>
		<string>0</string>
		<string>0</string>
	</array>
	<array>
		<string>255</string>
		<string>48</string>
		<string>0</string>
	</array>
    <array>
        <string>69</string>
        <string>152</string>
        <string>0</string>
    </array>
    <array>
        <string>69</string>
        <string>152</string>
        <string>0</string>
    </array>
    <array>
        <string>70</string>
        <string>130</string>
        <string>180</string>
    </array>
    <array>
        <string>75</string>
        <string>0</string>
        <string>130</string>
    </array>
    <array>
        <string>255</string>
        <string>0</string>
        <string>255</string>
    </array>
</array>
</plist>
