<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>255</string>
		<string>174</string>
		<string>0</string>
	</array>
	<array>
		<string>211</string>
		<string>84</string>
		<string>0</string>
	</array>
	<array>
		<string>231</string>
		<string>76</string>
		<string>60</string>
	</array>
    <array>
        <string>69</string>
        <string>152</string>
        <string>0</string>
    </array>
    <array>
        <string>70</string>
        <string>130</string>
        <string>180</string>
    </array>
    <array>
        <string>155</string>
        <string>89</string>
        <string>182</string>
    </array>
    <array>
        <string>149</string>
        <string>165</string>
        <string>166</string>
    </array>
    <array>
        <string>204</string>
        <string>174</string>
        <string>98</string>
    </array>
    <array>
        <string>49</string>
        <string>117</string>
        <string>137</string>
    </array>
    <array>
        <string>221</string>
        <string>160</string>
        <string>133</string>
    </array>
    <array>
        <string>22</string>
        <string>160</string>
        <string>133</string>
    </array>
</array>
</plist>
